.text {
  color: #18e;
}
.title {
  font-size: 20px;
}
.button {
  min-width: 22px;
  margin: 0 3px;
  line-height: 22px;
  color: #fff;
  background-color: #18e;
  border: none;
  border-radius: 4px;
  outline: none;
}
