.counter {
  display: flex;
}

.text {
  color: #18e;
}

.title {
  width: 60px;
  font-size: 14px;
  text-align: right;
}

.button {
  min-width: 22px;
  margin: 0 3px;
  line-height: 22px;
  color: #fff;
  background-color: #18e;
  border: none;
  border-radius: 4px;
  outline: none;
}
